<div class="center-container">
    <div class="centered-content">
        <h2>Register</h2>
    <form [formGroup]="registrationForm" (ngSubmit)="onSubmit()">
        <mat-form-field appearance="fill">
            <mat-label>Username:</mat-label>
            <input matInput formControlName="username" type="text" required>
        </mat-form-field>
        <br>
        <mat-form-field appearance="fill">
            <mat-label>Password:</mat-label>
            <input matInput formControlName="password" type="password" required>
        </mat-form-field>
        <br>
        <div class="button-container">
            <button mat-raised-button color="primary" type="submit">Register</button>
        </div>
        <div class="button-container">
            <button mat-raised-button color="primary" (click)="navigateToLogin()">Login</button>
        </div>
    </form>
    </div>
</div>
