.center-container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh; 
}

.centered-content {
    text-align: center;
}

.button-container {
    margin-top: 20px; 
}

.success-snackbar {
    background-color: #4caf50; 
    color: #fff;
}
  
  .error-snackbar {
    background-color: #f44336; 
    color: #fff;
}